In [1]:
print("Hello John, How are you?")

Hello John, How are you?

In [2]:
print("Hello John", "How are you?", sep='\n')

Hello John
How are you?

In [3]:
print("Hello John", "How are you?", sep='|')

Hello John|How are you?

In [4]:
print("Hello John", "How are you?", end="**")

Hello John How are you?**

In [5]:
len(abc)

NameError: name 'abc' is not defined

In [6]:
len("abc")

3

In [7]:
len("abcdefghijklmnopqrstuvwxyz")

26

In [8]:
min(1, 3, 2.4, 5, 3, 6.54, 85, -5)

-5

In [9]:
max(1, 5, 1, 23, 51752.55, 17, 1, 5, 15, 2, -54, 2, -155)

51752.55

In [10]:
abs(-65)

65

In [11]:
round(3.141563638)

3

In [12]:
round(100.8)

101

In [13]:
round(-15.5)

-16

In [14]:
sorted("hello")

['e', 'h', 'l', 'l', 'o']

In [15]:
sorted("python")

['h', 'n', 'o', 'p', 't', 'y']

In [16]:
sorted("Python")

['P', 'h', 'n', 'o', 't', 'y']

In [17]:
sorted("abcdef", reverse = True)

['f', 'e', 'd', 'c', 'b', 'a']

In [18]:
sorted("abcdef", reverse = False)

['a', 'b', 'c', 'd', 'e', 'f']

In [19]:
string_var="HELLO JOHN, HOW ARE YOU?"

In [20]:
string_var.lower()

'hello john, how are you?'

In [21]:
string_var

'HELLO JOHN, HOW ARE YOU?'

In [22]:
lowercase_var=string_var.lower()
lowercase_var

'hello john, how are you?'

In [23]:
string_var=lowercase_var.upper()
string_var

'HELLO JOHN, HOW ARE YOU?'

In [24]:
string_var==lowercase_var.upper()

True

In [25]:
capitalized_string = lowercase_var.capitalize()

In [26]:
capitalized_string

'Hello john, how are you?'

In [27]:
string_var.capitalize()

'Hello john, how are you?'

In [28]:
string_var

'HELLO JOHN, HOW ARE YOU?'

In [33]:
my_print=print("Hello John, How are you?")

Hello John, How are you?

In [34]:
my_print

In [35]:
print(my_print)

None

In [36]:
type(my_print)

NoneType

In [37]:
abs(max(-1, -3, -4, -7))

1

In [38]:
boeing_planes=['Boeing 707', 'Boeing 717', 'Boeing 727', 'Boeing 737 Original']

In [39]:
boeing_planes[-1]

'Boeing 737 Original'

In [40]:
boeing_planes[-2]

'Boeing 727'

In [41]:
boeing_planes[0:3]

['Boeing 707', 'Boeing 717', 'Boeing 727']

In [42]:
boeing_planes[2:4]

['Boeing 727', 'Boeing 737 Original']

In [43]:
boeing_planes[0:-1]

['Boeing 707', 'Boeing 717', 'Boeing 727']

In [44]:
boeing_planes.append('Boeing 747')
boeing_planes

['Boeing 707', 'Boeing 717', 'Boeing 727', 'Boeing 737 Original', 'Boeing 747']

In [45]:
boeing_planes.insert(4, "Boeing 737 Classic")
boeing_planes

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747']

In [47]:
boeing_planes.index("Boeing 737 Original")

3

In [48]:
fighter_jets=["Hurricane", "Tiger Moth"]
fighter_jets

['Hurricane', 'Tiger Moth']

In [49]:
fighter_jets.insert(1, "F-16")
fighter_jets

['Hurricane', 'F-16', 'Tiger Moth']

In [50]:
fighter_jets.remove("Hurricane")

In [51]:
fighter_jets

['F-16', 'Tiger Moth']

In [52]:
last_jet = fighter_jets.pop()
last_jet

'Tiger Moth'

In [53]:
fighter_jets

['F-16']

In [54]:
fighter_jets = ["Hurricane", "Tiger Moth", "F-14", "F-16", "Tiger Moth"]

In [55]:
fighter_jets.sort()
fighter_jets

['F-14', 'F-16', 'Hurricane', 'Tiger Moth', 'Tiger Moth']

In [56]:
fighter_jets.reverse()
fighter_jets

['Tiger Moth', 'Tiger Moth', 'Hurricane', 'F-16', 'F-14']

In [57]:
fighter_jets.remove("Tiger Moth")
fighter_jets

['Tiger Moth', 'Hurricane', 'F-16', 'F-14']

In [59]:
all_planes = boeing_planes + fighter_jets
all_planes

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747',
 'Tiger Moth',
 'Hurricane',
 'F-16',
 'F-14']

In [60]:
boeing_planes_copy=boeing_planes.copy()
boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747']

In [62]:
boeing_planes.clear()
boeing_planes

[]

In [63]:
del boeing_planes

In [64]:
boeing_planes

NameError: name 'boeing_planes' is not defined

In [65]:
boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747']

In [66]:
boeing_planes_shallow_copy = boeing_planes_copy

In [67]:
boeing_planes_shallow_copy.remove("Boeing 727")

In [68]:
boeing_planes_shallow_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747']

In [69]:
boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 737 Original',
 'Boeing 737 Classic',
 'Boeing 747']

In [70]:
empty_tuple=()

In [71]:
print(empty_tuple)

()

In [72]:
type(empty_tuple)

tuple

In [74]:
children_books = ("Timmy's Success", "Diary of a Whimpy Kid", "Calvin and Hobbes")
type(children_books)

tuple

In [75]:
children_books.append("Geronimo Stilton")

AttributeError: 'tuple' object has no attribute 'append'

In [76]:
children_books

("Timmy's Success", 'Diary of a Whimpy Kid', 'Calvin and Hobbes')

In [77]:
children_books[0]

"Timmy's Success"

In [78]:
character_tuple = tuple("bedsheet")
character_tuple

('b', 'e', 'd', 's', 'h', 'e', 'e', 't')

In [79]:
fruits_list = ["Apple", "Banana", "Orange", "Watermelon"]
fruits_tuple = tuple(fruits_list)

In [80]:
fruits_tuple

('Apple', 'Banana', 'Orange', 'Watermelon')

In [81]:
"Apple" in fruits_tuple

True

In [82]:
"Grapes" in fruits_tuple

False

In [83]:
"Grapes" not in fruits_tuple

True

In [84]:
empty_dict={}

In [85]:
print(empty_dict)

{}

In [86]:
type(empty_dict)

dict

In [87]:
names_and_ages = {"Suzie":6,
                 "Calvin":5,
                 "Hobbes":4}

In [88]:
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 4}

In [89]:
names_and_ages["Calvin"]

5

In [90]:
names_and_ages[5]

KeyError: 5

In [91]:
names_and_ages.keys()

dict_keys(['Suzie', 'Calvin', 'Hobbes'])

In [92]:
names_and_ages.values()

dict_values([6, 5, 4])

In [93]:
names_and_ages.items()

dict_items([('Suzie', 6), ('Calvin', 5), ('Hobbes', 4)])

In [94]:
names_and_ages["Hobbes"] = 25
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 25}

In [95]:
names_and_ages["Rowley"] = 15
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 25, 'Rowley': 15}

In [96]:
names_and_ages.pop("Calvin")
names_and_ages

{'Suzie': 6, 'Hobbes': 25, 'Rowley': 15}

In [97]:
del names_and_ages["Rowley"]
names_and_ages

{'Suzie': 6, 'Hobbes': 25}

In [98]:
occupations_and_names = {"Doctors" : ["John", "Nina", "Steve"],
                        "Engineers": ["Bill", "Emily", "Jane"],
                        "Pilots" : ["Sally", "Richard", "Bob"]}

In [99]:
occupations_and_names

{'Doctors': ['John', 'Nina', 'Steve'],
 'Engineers': ['Bill', 'Emily', 'Jane'],
 'Pilots': ['Sally', 'Richard', 'Bob']}

In [100]:
occupations_and_names["Engineers"][0]

'Bill'

In [101]:
int_key_dict = {1: "Suzie",
               2: "Calvin",
               3:"Hobbes"}

In [102]:
int_key_dict[1]

'Suzie'

In [103]:
int_key_dict[9]

KeyError: 9